<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
</head>
<body>
    <h1>Lista de Usuários</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Sexo</th>
            <th>Unidade</th>
            <th>Graduação</th>
            <th>Camiseta</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario[0] }}</td>
            <td>{{ usuario[1] }}</td>
            <td>{{ usuario[2] }}</td>
            <td>{{ usuario[3] }}</td>
            <td>{{ usuario[4] }}</td>
            <td>{{ usuario[5] }}</td>
            <td>{{ usuario[6] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
